:root{
    --marg-left:50px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    background-color: rgb(245, 245, 245);
}
img[src^='./halie']{
    width: clamp(200px,30%,600px);
    position: relative;
    height: 100%;
}
img:not([src^='./halie']){
    width: clamp(200px,30%,600px);
    height:auto;
    position: relative;
    width: 100px;
    filter: opacity(1);
}

.odin-face{
    background-color: #000000;
    opacity: 0.7;
    padding:8px;
    top:28%;
    position: absolute;
    width: clamp(200px,30%,600px);
    text-align: center;
}

.odin-face span{
    color:white;
    font-size: 80px;
    vertical-align:35px;
}
.credit{
    position: absolute;
    bottom: 0;
    left: 145px;
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
}
.credit a{
    color: white;
}
.column label{
    display:block;
}
.col-container{
    display: flex;
    justify-content: start;
    gap:80px;
}

.column{
    margin-left: var(--marg-left);
}
.form-container-page  p, .form-container-page button{
    margin-left: var(--marg-left);
}
.form-container-page> p:first-child{
    margin-top: 100px;
    width: 310px;
}
.form-container-page>p:nth-child(2){
    margin:20px 50px
}
.form p{
    margin: 25px 50px;
    padding-top: 7px;
}
.form{
    position: relative;
    background-color: white;
    width: 100%;
    box-shadow: 8px 5px 8px rgb(235,235,235);
}
.form-container-page{
    flex:1;
}
input{
    appearance: none;
    border-radius: 3px;
    border: none;
    border: 2px solid #E5E7EB;
}
input:focus{
    appearance: none;
    outline: none;
    border:2px solid rgb(85,85,255);
    box-shadow: 5px 5px 5px rgb(220,220,220);
}
button{
    color:white;
    background-color:#596D48 ;
    padding:15px 25px;
    border: none;
    box-shadow: 5px 5px 5px rgb(220,220,220);
    border-radius: 5px;
    margin:20px;
}
button:hover{
    cursor: pointer;
    opacity: 0.9;
}
p{font-weight: bold;}
.form-container-page > p:last-of-type{
    margin-top: 25px;
}
.error.specify{
    border:2px solid rgb(200,50,50);
    box-shadow: 5px 5px 5px rgb(220,220,220);
}